// colors
$blue: #2A5DC4;
$light-blue: #3970de;
$grey: #514B4C;
$bg-color: #FAFAFA;

// $pink: #FF2351;
// $dark-grey: #848484;
// $light-grey: #DADADA;
// $light-yellow: #FDC8444D;
// $error-color: rgb(250, 59, 59);